[project]
	description = Columnar file format for hadoop
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Narenthirasamy
[access "refs/for/refs/*"]
	read = group user/Narenthirasamy
	push = group user/Narenthirasamy
	label-Code-Review = -2..+2 group user/Narenthirasamy
	label-Verified = -1..+1 group user/Narenthirasamy
	rebase = group user/Narenthirasamy
	removeReviewer = group user/Narenthirasamy
	submit = group user/Narenthirasamy
[access "refs/heads/*"]
	read = group user/Narenthirasamy
	create = group user/Narenthirasamy
	push = +force group user/Narenthirasamy
	pushMerge = group user/Narenthirasamy
[access "refs/tags/*"]
	push = +force group user/Narenthirasamy
	pushTag = group user/Narenthirasamy
	pushSignedTag = group user/Narenthirasamy
